[:charging {:name "Charging"
            :description "Under some circumstances, characters or creatures may be allowed to attack after a running move. This is called a charge, and some specific limitations apply. First, the charging character or creature must move at least 10 feet, and may move up to double his or her normal movement rate, as given above. The movement must be in a more or less straight line toward the intended target, and the path to the target must be reasonably clear. Finally, the attacker must be using a weapon such as a spear, lance, or pole arm which is suitable for use while charging. Certain monsters, especially including those with horns, are able to use natural attacks when charging. If the attacker does not have line of sight to the opponent at the start of the charge, that opponent can’t be charged.
The attack made after the charge is made at +2 on the attack roll. The charging character or creature takes a -2 penalty to Armor Class for the remainder of the round. If the attack hits, it does double damage."}]
