[:combat-movement {:name "Combat Movement"
                   :description "(Also see the sections on Running, Charging, and Set Weapons Against Charge below.)
Opponents more than 5' apart may move freely, but once two opposing figures are within 5' of each other, they are “engaged” and must abide by the rules under Defensive Movement, below. In some circumstances two opponents who are within 5' of each other may not realize it, such as when one character successfully sneaks up behind the other. In such a case, the characters are not engaged.
If one side wishes to evade the other, play the evasion and pursuit out as combat actions. Mapping, of course, is impossible while fleeing or pursuing. Any time a character must pass through a doorway, make a hard turn, etc., the GM may require a saving throw vs. Death Ray (with Dexterity bonus added); if the save is failed, the character has fallen at that point and moves no further that round; he or she may stand up and make a full move on his or her Initiative number in the next round.
If at any point the pursuers are within 5' (melee range) at the start of a round, they may begin melee combat; the fleeing characters will be subject to “parting shots” if they continue to flee after the pursuers close to melee range.
If the fleeing characters or creatures are ever able to get beyond the pursuer's sight for a full round, they have evaded pursuit... the pursuers have lost them.
Any time a character turns his or her back on an adjacent opponent (who has a ready weapon) and begins movement, that opponent is allowed a “parting shot” with a +2 bonus to attack, even if that opponent has already made all attacks for the round. Opponents with attack routines must choose one attack mode; for instance, a tiger with a claw/claw/bite routine could only claw once or bite once.
Alternately, the character may begin backing away (at up to half normal walking movement) while continuing to fight (if the opponent remains within reach, that is, follows the retreating character). This is termed a fighting withdrawal. The character must still move first, however."}]
