[:holy-water {:name "Holy Water versus Undead"
              :description "• Direct hit: 1d8 points damage.
• Splash Hit: 1d6 points of fire damage within 5 feet of the point of impact.
• Effective for 1 round"}]
