[:missile-miss {:name "Missiles That Miss"
                :description "With the exception of grenade-like missiles, missile weapons which miss the intended target are normally considered lost. However, if the weapon is fired into a melee where allies of the shooter are involved, and the attack misses, it may hit one of the allied creatures. The GM should decide which allies may be hit, and roll attacks against each until a hit is made or all possible targets are exhausted. These attack rolls are made with the shooter's normal attack bonus, just as if he or she intended to attack the allied creature. However, the GM must make these rolls, not the player."
                :other-names [:missiles-that-miss :missed-missiles]}]
