[:subduing-damage {:name "Subduing Damage"
                   :description "Attacks made with the \"flat of the blade\" for non-lethal damage are made at a -4 attack penalty and do half damage. Most weapons can be used this way; only those with penetration or slashing features on all sides cannot."
                   :other-names [:subduing]}]
