[:detect-magic {:name "Detect Magic"
                :range "60'"
                :duration "2 turns"
                :magic-user-level 1
                :cleric-level 1
                :description "The caster of this spell is able to detect enchanted or enspelled objects or creatures within the given range by sight, seeing them surrounded by a pale glowing light. Only the caster sees the glow. Invisible creatures or objects are not detected by this spell, but the emanations of the invisibility magic will be seen as an amorphous glowing fog, possibly allowing the caster (only) to attack the invisible creature at an attack penalty of only -2."}]
