[:protect-from-evil {:name "Protect from Evil"
                     :range "touch"
                     :duration "1 turn/level"
                     :magic-user-level 1
                     :cleric-level 1
                     :description "This spell wards a creature from attacks by evil creatures, from mental control, and from summoned creatures. It creates a magical barrier around the subject at a distance of 1 foot. The barrier moves with the subject and has three major effects.
First, the subject gains a +2 bonus to AC and a +2 bonus on saves. Both these bonuses apply against attacks made or effects created by evil creatures. Note that the definition of “evil” is left to the individual GM to decide.
Second, the barrier blocks any attempt to possess the warded creature (by a magic jar attack, for example) or to exercise mental control over the creature (including charm spells or effects). The protection does not prevent such effects from targeting the protected creature, but it suppresses the effect for the duration of the protection from evil effect. If the protection from evil effect ends before the effect granting control does, the would-be controller would then be able to command the controlled creature. Likewise, the barrier keeps out a possessing life force but does not expel one if it is in place before the spell is cast.
Third, the spell prevents bodily contact by summoned creatures (regardless of whether they are “evil” or not). This causes the natural weapon attacks of such creatures to fail and the creatures to recoil if such attacks require touching the warded creature. The protection against contact by summoned creatures ends if the warded creature makes an attack against or tries to force the barrier against the blocked creature.
Reversed, this spell becomes protection from good. It functions in all ways as described above, save that “good” creatures are kept away, rather than “evil” creatures."
                     :inverse :protect-from-good}]
