[:sleep {:name "Sleep"
         :range "90'"
         :duration "5 rounds/level"
         :magic-user-level 1
         :description "This spell puts several creatures of 3 or fewer hit dice into a magical slumber. Creatures of 4 or more hit dice are not affected. The caster chooses a point of origin for the spell (within the given range, of course), and those creatures within 30' of the chosen point may be affected. Each creature in the area of effect is allowed a save vs. Spells to resist the effect."}]
